h1{
    text-align:center;
}
h2 {
font-family:cursive;
}

p  {
    color:rgb(212, 17, 17);
}

p  {
    color:blue;
}

p  {
    color:green;
}

p  {
    font-size:larger;
}

p  {
    font-size:xx-large;
}

p  {
    text-align: center;
}

p  {
    font-style:bold;
}

p  {
    font-size: xx-large;
    color:orange;
    font-style: bold;
}
